# welcome to lesson #1

things we're going to be learning today:

- basic python syntax and how to use jupyter


- arithmetic (`+`, `-`, `/`, `*`)


- booleans (`True`, `False`), boolean operators (`and`, `or`, `not`) and comparison (`==`, `!=`, `>`, `>=`, `<`, `<=`)


don't be afraid to ask questions!

In [ ]:
# when you see a line with "#" in front of it, it's a comment, and is ignored by the interpreter

**a very quick jupyter guide**

- pressing `shift` + `enter` will cause the code in a cell (the boxes like the one above and below) to run

that's all you'll need to know!  we may learn more later

In [ ]:
# press `shift` and `enter` at the same time to run the code in this cell
print("hello world!")
print("welcome to the very first computer science lesson!")

**basic math**

math operators

order of operations applies here: PEMDAS, division and multiplication go first, then addition and subtraction

`**`: exponent

```python
4 ** 2
>>>16
```

`/`: division

```python
12 / 2
>>>6.0
```

`*`: multiplication

```python
3 * 4
>>>12
```

`-`: subtraction

```python
6 - 1
>>>5
```

`+`: addition

```python
1 + 1
>>>2
```

run the cells below for some live examples

In [ ]:
4 ** 2

In [ ]:
12 / 2

In [ ]:
3 * 4

In [ ]:
6 - 1

In [ ]:
1 + 1

parentheses, `(` and `)`, isolate an expression, PEMDAS means it is executed first

```python
20 / (5 + 5)
>>>2.0
(1 + 1) * 5
>>>10
```

In [ ]:
20 / (5 + 5)

In [ ]:
(1 + 1) * 5

# do now

write your own expressions below using numbers and the operators shown above

use the `print` function to display the output

in **cell 1** play with expressions however you want

in **cell 2** create 5 `print` statements with **at least one operator** so that when you run the cell, it prints:

5

4

3

2

1

it should look some like this for example:

```python
print(2 + 3)
print(2 * 2)
print(9 / 3)
print(2 + 0)
print(1 ** 2)
```

In [ ]:
# cell 1: do whatever you want!

In [ ]:
# cell 2: print out 5, 4, 3, 2, 1
print(2 + 3)  # the first one is done for you!

**variables**

you can assign the output of expressions to variables

whatever the expression evaluates to is assigned to the variable

```python
x = 5 + 3
x
>>>8
x + 1
>>>9
x * 2
>>>16
```

In [ ]:
x = 5 + 3
print(x)
print(x + 1)
print(x * 2)

# do now

assign the variable `n` so that the cell below prints out:

6

7

9

12

when you run it

In [ ]:
n = #YOUR-ANSWER-HERE#
print(n + 3)
print(n + 4)
print(n ** 2)
print(n * 4)

# booleans

what is a boolean?  it's a variable that can have two opposite values, `True` and `False`

very simply, statements that are correct are equal to `True`, and statements that are incorrect are equal to `False`

we construct these statements with comparison operators (you've probably seen these in math class)

`==`: equals

```python
4 == 4
>>>True
4 == 5
>>>False
```

`!=`: does not equal

```python
5 != 200
>>>True
5 != (2 + 3)
>>>False
```

`>`: greater than

```python
4 > 3
>>>True
1 > 100
>>> False
1 > 1
>>>False
```

`>=`: greater than or equal to

```python
4 >= 3
>>>True
1 >= 100
>>> False
1 >= 1
>>>True
```


`<`: less than

```python
5 < (5 + 5)
>>>True
5 < 1
>>>False
5 < 5
>>>False
```

`<=`: less than or equal to

```python
5 <= (5 + 5)
>>>True
5 <= 1
>>>False
5 <= 5
>>>True
```

run the cells below for some live examples

In [ ]:
4 == 4

In [ ]:
5 != (2 + 3)

In [ ]:
1 > 100

In [ ]:
1 >= 1

In [ ]:
5 < (5 + 5)

In [ ]:
5 <= 5

# do now

in **cell 1**, write any expression with at least one operator that evaluates to `True`

and in in **cell 1**, write any expression with at least one operator that evaluates to `False`

be creative!

In [ ]:
# cell 1

In [ ]:
# cell 2

# boolean operators

there are 3 boolean operators we're going to go over: `and`, `or`, and `not`

`and` and `or` join two expressions


`and` is like saying, "both must be true"

```python
(5 > 3) and (1 + 1 == 2)  # both statements are correct
>>>True
(1 == 2) and (4 == 4)  # only one statement is correct
>>>False
```

`or` is like saying, "just one needs to be true"

```python
(5 > 3) or (1 + 1 == 2)  # both statements are correct
>>>True
(1 == 2) or (4 == 4)  # only one statement is correct
>>>True
```

below is a handy table that demonstrates the complete behavior

| a     | b     | a `and` b | a `or` b |
|-------|-------|-----------|----------|
| True  | True  | True      | True     |
| True  | False | False     | True     |
| False | True  | False     | True     |
| False | False | False     | False    |

`not` simply takes the result of any expression, and makes it the opposite

```python
True
>>>True
not True
>>>False
5 == 5
>>>True
not (5 == 5)
>>>False
not True == False  # think about this one
>>>True
```

run the cells below for some live examples

In [ ]:
(5 > 3) and (1 + 1 == 2)

In [ ]:
(1 == 2) or (4 == 4)

In [ ]:
not True == False

# do now

this is the last exercise of the session!

in **cell 1** write an expression with `and`, `or`, and `not` that evaluates to `True`

and in **cell 2** write an expression with `and`, `or`, and `not` that evaluates to `False`

make sure to use all three, and be creative

In [ ]:
# cell 1

In [ ]:
# cell 2

that's it!  thanks for participating: if we have time we'll continue with bonus activites down below